body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}
a, p, span, h2 {
    text-decoration: none;
    color: #222222;
    transition: all 300ms;
    margin: 0;
}
*:before {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    float: left;
    margin-right: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    height: 50px;
    background: #fff;
}
nav a:hover {
    color: #8b0000;
}
.logo a {
    font-size: 20px;
    font-weight: 600;
    color: #8b0000;
}
.logo a:before {
    content: '';
    background-image: url("images/technics.svg");
}
.logo p{
    margin-top: 0;
}
.nav-list {
    margin: 0;
    padding: 0;
    background: transparent;
}
.nav-item {
    float: left;
    list-style: none;
    margin-right: 40px;
}
.nav-list .nav-item:nth-child(4) {
    margin-right: 0;
}
.nav-item:after {
    content: '';
    width: 0;
    height: 2px;
    background: #8b0000;
    display: block;
    transition: all 300ms;
}
.nav-item:hover:after {
    width: 100%;
}
.nav-item a {
    line-height: 50px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
}
.phone-wrap {
    width: 255px;
}
.phone-wrap.mobile, .phone-wrap.mobile:before {
    display: none;
}
.phone-wrap.mobile {
    width: auto;
    text-align: center;
    margin-top: 20px;
}
.phone-wrap.mobile a{
    color: #ffffff;
}
.call-us-btn {
    position: fixed;
    bottom: 20%;
    right: 70px;
    background: #8d9296;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    box-shadow: 1px 1px 20px rgba(0,140,174,0.7);
    animation: bingc-phone-button-animation 6s ease-in-out infinite;
}
.call-us-btn:before {
    content: '';
    background-image: url("images/phone-call-red.svg");
    transform: rotate(270deg);
    margin-left: 10px;
    margin-top: 10px;
}
@keyframes bingc-phone-button-animation{
    0%,10%,100% {
        -webkit-transform:rotate(0) scale(1) skew(1deg);
        transform:rotate(0) scale(1) skew(1deg)
    }
    2%, 6% {
        -webkit-transform:rotate(-15deg) scale(1) skew(1deg);
        transform:rotate(-15deg) scale(1) skew(1deg)
    }4%,8% {
         -webkit-transform:rotate(15deg) scale(1) skew(1deg);
             transform:rotate(15deg) scale(1) skew(1deg)
         }
}
.width-phone {
    width: max-content;
    margin: auto;
}
.width-phone a {
    font-weight: 600;
}
.width-phone a:before {
    width: 20px;
    height: 20px;
}
.viber:before {
    content: '';
    background-image: url("images/viber.svg");
}
.telegram:before {
    content: '';
    background-image: url("images/telegram.svg");
}
footer {
    background: #8d9296;
}
footer p, footer a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
}
footer div p {
    float: left;
    margin: 8px;
}
footer .phone-wrap a:hover{
    color: #79cb9c;
}
.location:before {
    content: '';
    background-image: url("images/location.png");
}
.schedule:before {
    content: '';
    background-image: url("images/schedule.png");
}
.footer-details,.copyright {
    text-align: center;
}
.content-footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}
.copyright {
    padding: 30px 0;
    margin-top: 40px;
    border-top: 2px solid;
    font-size: 12px;
}
.mobile-menu, .close-menu, .overlay{
    display: none;
}
.main-banner {
    background-image: url("images/banner.jpg");
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    background-size: cover;
    position: relative;
    margin-top: 90px;
}
.banner-text {
    position: absolute;
    max-width: 600px;
    width: 100%;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    margin-top: 165px;
}
.banner-text p, .banner-text h2, .banner-text a, .banner-text span {
    color: #ffffff;
}
.banner-text span {
    white-space: nowrap;
}
.banner-text a {
    font-weight: 700;
}
.main .banner-text h2 {
    font-size: 45px;
}
.banner-text p, .banner-text a {
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 20px;
}
.banner-overlay,.scheme-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.banner-overlay {
    background: rgba(0,0,0,0.55);
}
.scheme-overlay {
    background: rgba(255,255,255,0.55);
}
.advant-cont {
    padding: 70px 60px;
}
.advantages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item{
    width: 43%;
    box-shadow: 1px 1px 30px rgba(160,167,174,0.3);
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}
.item span {
    position: absolute;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
    font-size: 20px;
}
.item:before {
    margin: 0 15px;
    content: '';
    background-image: url("images/fridge.svg");
}
.work-scheme {
    padding: 70px 0;
    background-image: url("images/banner2.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 560px;
}
.scheme-content {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 60px;
}
.main h2 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}
.work-line img {
    margin: auto;
    display: block;
    padding: 10px;
}
.work-point {
    max-width: 700px;
    width: 100%;
    margin: auto;
    box-shadow: 1px 1px 30px rgba(160,167,174,0.7);
    background: #fff;
    border-radius: 10px;
}
.main p {
    font-size: 20px;
    padding: 15px;
}
.work-point b {
    color: #8b0000;
    padding-right: 20px;
}
.feedback-container {
    margin: 60px auto;
    padding: 0 40px;
}
iframe {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    box-shadow: 1px 1px 10px rgba(160,167,174,0.7);
}
.feedback-container h2 {
    margin-bottom: 15px;
}
.fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 1px 1px 10px rgba(160,167,174,0.7);
}

@media screen and (max-width: 1110px){
    .mobile-menu, .close-menu, .overlay {
        display: block;
    }
    .mobile-menu {
        height: 40px;
        width: 40px;
    }
    .nav-list {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        z-index: 20;
        padding: 40px;
        max-width: 300px;
        width: 100%;
        background: #8d9296;
        transition: all 300ms;
    }
    .active .nav-list{
        right: 0;
    }
    .active .overlay {
        position: fixed;
        width: 100%;
        background-color: rgba(255,255,255,0.7);
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        z-index: 19;
        transition: all 300ms;
    }
    .nav-item {
        float: none;
        border-top: 1px solid white;
        margin-right: 0;
    }
    .nav-item:last-child {
        border-bottom: 1px solid #ffffff;
    }
    .nav-item a {
        color: #ffffff;
        text-align: center;
    }
    .close-menu {
        height: 30px;
        width: 30px;
        margin-bottom: 30px;
    }
    .phone-wrap.mobile {
        display: block;
    }
}

@media screen and (max-width: 868px){
    .call-us-btn {
        bottom: 10%;
        right: 55px;
    }
    nav .phone-wrap {
        display: none;
    }
    .content-footer {
        flex-direction: column;;
    }
    .content-footer div {
        width: 100%;
        border-bottom: 1px solid white;
        padding: 15px 0;
    }
    .footer-details, .copyright {
        font-size: 13px;
        padding: 10px 60px;
    }
    .main-banner {
        height: 400px;
    }
    .banner-text {
        margin-top: 100px;
    }
    .main .banner-text h2 {
        font-size: 35px;
    }
    .banner-text p, .banner-text a {
        font-size: 20px;
    }
    .banner-text p, .banner-text a, .main .banner-text h2 {
        padding: 0 30px;
    }
    .main h2 {
        font-size: 25px;
    }

}

@media screen and (max-width: 1056px){
    .item {
        width: 100%;
    }
}

@media screen and (max-width: 564px){
    nav {
        padding: 20px 30px;
    }
    .nav-list {
        max-width: 230px;
    }
    *:before {
        width: 40px;
        height: 40px;
    }
    .call-us-btn:before {
        width: 50px;
        height: 50px;
    }
    footer p, footer a {
        font-size: 13px;
        margin: 8px 0 0;
    }
    footer .width-phone a {
        display: block;
    }
    .content-footer {
        padding: 40px 45px;
    }
    .logo a {
        font-size: 14px;
    }
    .logo p {
        font-size: 12px;
    }
    .copyright {
        font-size: 10px;
    }
    .main-banner {
        height: 300px;
    }
    .main .banner-text h2 {
        font-size: 22px;
    }
    .banner-text p, .banner-text a {
        font-size: 15px;
    }
    .banner-text a {
        padding: 0;
    }
    .main .banner-text h2 {
        margin-bottom: 0;
    }
    .banner-text p, .main .banner-text h2 {
        padding: 0 40px;
    }
    .main h2 {
        font-size: 20px;
    }
    .main p, .item span {
        font-size: 15px;
    }
    .item:before {
        margin: 0;
    }
    .item span {
        position: static;
        transform: none;
        padding-right: 0;
        float: right;
        width: 75%;
    }
    .work-point b {
        padding-right: 5px;
    }
    .advant-cont {
        padding: 50px 40px;
    }
    .work-scheme {
        padding: 50px 0;
    }
    .scheme-content {
        padding: 0 40px;
    }
}